<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
	<string>0</string>
	<key>CHANNEL</key>
	<string>https://itunes.apple.com/cn/app/xuan-shi-wu-you/id973791363?mt=8</string>
	<key>APP_KEY</key>
	<string>a14e46912edd90527da741fa</string>
</dict>
</plist>
